.navbar-brand {
    color: blueviolet;
    font-size: 32pt;
    font-weight: 600;
    text-decoration: underline crimson;
    text-shadow: 30px 30px 25px gray;
    font-style: italic;
}

.navbar-nav, .navbar-nav ul, .navbar-nav li, .navbar-nav a, .navbar-brand {
    height: calc(32pt + 25px);
}

#main_creator div {
    text-align: center;
    border: 1px solid #000
}

#main_creator {
    display: flex;
    height: 100%;
}

#main_editor input[type="number"] {
    width: 100px
}

#main_editor {
    width: 300px
}

#main_creator>div:nth-child(1), #main_viewer {
    flex-grow: 1
}

#main_creator>div:nth-child(2) {
    padding: 10px 20px 40px 35px
}

body {
    height: 99vh;
    display: flex;
    flex-direction: column;
}

#wrapper {
    flex-grow: 1;
}

.colS {
    display: flex
}

.colS, .col {
    border: none !important;
    margin: auto;
}

.btn {
    width: 100%;
}

#test {
    background-color: red;
    color: white;
    text-align: center;
}