.navbar-brand {
    color: blueviolet;
    font-size: 32pt;
    font-weight: 600;
    text-decoration: underline crimson;
    text-shadow: 30px 30px 25px gray;
    font-style: italic;
}

.navbar-nav, .navbar-nav ul, .navbar-nav li, .navbar-nav a, .navbar-brand {
    height: calc(32pt + 25px);
}

#main_creator div {
    text-align:center;
    border: 1px solid #000
}
#main_creator{display: flex;}
#main_creator>div:nth-child(1),#main_viewer{flex-grow:1}
#main_creator>div:nth-child(2) {padding:10px 20px 40px 35px}
